@font-face {
    font-family: 'zlusa';
    src: url('../assets/fonts/zlusa_font.ttf') format('truetype'), 
        local('../assets/fonts/zlusa_font')
}

* {
    font-family: 'zlusa';
}

html {
    background: #252422;
}

main {
    padding: 30px;
}